.brands {
  &__title {
    margin: 0 0 5px;
    font-family: var(--title-font);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    color: var(--accent-color);
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 10px;

    @include mobile {
      flex-wrap: wrap;
    }
  }

  &__item {
    @include tablet {
      max-width: 150px;
    }

    @include mobile {
      width: calc(50% - 5px);
    }
  }

  &__img {
    display: block;
  }
}
