.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
  padding: 10px 15px;
  font-size: 20px;
  color: var(--dark-color);
  background-color: var(--light-color);
  transition: color 0.3s, background-color 0.3s;
  gap: 10px;

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-color: #000;
    transition: background-color 0.3s;
  }

  &__icon {
    margin-left: 1px;
    width: 14px;
    height: 13px;
    fill: transparent;
    stroke: var(--light-color);
    transition: stroke 0.3s;

    @include mobile {
      width: 11px;
      height: 11px;
    }
  }

  &:hover {
    color: var(--light-color);
    background-color: var(--dark-color);

    .btn__circle {
      background-color: var(--light-color);
    }

    .btn__icon {
      stroke: var(--dark-color);
    }
  }

  &--withIcon {
    padding: 10px 20px 10px 10px;

    @include mobile {
      padding: 5px 15px 5px 5px;
    }
  }

  &--dark {
    border: 2px solid var(--dark-color);
    color: var(--light-color);
    background-color: var(--dark-color);

    &:hover {
      color: var(--dark-color);
      background-color: var(--light-color);
    }
  }

  @include tablet {
    font-size: 18px;
  }

  @include small-tablet {
    font-size: 16px;
  }

  @include mobile {
    font-size: 14px;
  }
}
