.form {
  &__wrap {
    position: relative;

    .form__input {
      padding-right: 140px;
    }

    .form__btn {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__input {
    border-radius: 40px;
    padding: 10px 10px 10px 23px;
    width: 100%;
    height: 67px;
    font-size: 18px;
    letter-spacing: 0.54px;
    color: var(--dark-color);
    background-color: var(--light-color);
    transition: background-color 0.3s;

    &::placeholder {
      font-size: 18px;
      letter-spacing: 0.54px;
      color: var(--dark-color);
    }

    &:hover {
      background-color: var(--accent-color);
    }
  }
}
