.header {
  position: fixed;
  z-index: 50;
  padding: 22px 0;
  width: 100%;
  transition: background-color 0.3s, box-shadow 0.3s;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger {
    display: none;

    @include small-tablet {
      display: block;
      margin-left: 20px;
    }
  }

  &__logo {
    @include small-tablet {
      margin-right: auto;
    }
  }

  &--fixed {
    box-shadow: 0 0 10px rgba(var(--dark-color), 0.3);
    background-color: var(--dark-color);
  }

  @include big-desktop {
    padding: 16px 0;
  }
}
