.hero {
  position: relative;
  height: 100vh;
  min-height: 900px;
  background: #000 url("../img/hero-bg.jpg") no-repeat left center;
  background-size: cover;

  &::before {
    content: "";
    width: 183px;
    height: 192px;
    background: transparent url("../img/ornament.png") no-repeat center center;
    background-size: contain;
    transform: rotate(90.17deg);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 160px;
    padding-bottom: 50px;

    @include tablet {
      padding-top: 100px;
    }
  }

  &__title {
    margin: 0 0 24px;
    max-width: 649px;
    color: var(--light-color);
  }

  &__desc {
    margin: 0 0 32px;
    max-width: 557px;
    color: var(--light-color);
  }

  &__brands {
    padding-top: 181px;

    @include big-desktop {
      padding-top: 61px;
    }
  }

  @include big-desktop {
    min-height: 760px;
  }

  @include tablet {
    height: auto;
    min-height: 0;
  }

  @include small-tablet {
    background-image: none;
  }
}
