<section class="about pageSection pageSection--dark">
  <div class="container">
    <div class="about__cols">
      <picture>
        <source srcset="img/about-bg@2x.webp 2x, img/about-bg.webp 1x" type="image/webp">
        <source srcset="img/about-bg@2x.jpg 2x, img/about-bg.jpg 1x" type="image/jpeg">
        <img loading="lazy" src="about-bg.jpg" class="about__img" width="750" height="711" alt="" aria-hidden="true">
      </picture>

      <div class="about__content">
        <h2 class="pageSection__title pageSection__title--left about__title">
          <span class="pageSection__small">About us </span>
          The core mission
          behind all our
          work
        </h2>

        <p class="pageSection__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit metus ut tortor purus tincidunt sed lectus ut eros, turpis tincidunt id.</p>

        <ul class="nums about__nums list-reset">
          <li class="nums__item">
            <span class="nums__num">330 +</span>
            <span class="nums__text">Companies helped</span>
          </li>
          <li class="nums__item">
            <span class="nums__num">230 +</span>
            <span class="nums__text">Revenue generated</span>
          </li>
        </ul>

        <a href="#" class="btn btn--withIcon btn-reset">
          <span class="btn__circle">
            <svg class="btn__icon">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </span>
          Start your Free Trial
        </a>
      </div>
    </div>
  </div>
</section>
