<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__topCol">
        <a class="logo footer__logo">
          <img src="img/logo.svg" alt="Logo" class="logo__img">
        </a>
        <p class="footer__about">We’re a team of strategic creator and digital innovator, united focus in our pursuit of mastery and joyful.</p>
      </div>

      <div class="footer__topCol">
        <p class="footer__title">Pages</p>

        <ul class="footer__menu list-reset">
          <li class="footer__menuItem">
            <a href="#" class="footer__menuLink">Home</a>
          </li>
          <li class="footer__menuItem">
            <a href="#" class="footer__menuLink">About</a>
          </li>
          <li class="footer__menuItem">
            <a href="#" class="footer__menuLink">Conatct Us </a>
          </li>
          <li class="footer__menuItem">
            <a href="#" class="footer__menuLink">Portfolio</a>
          </li>
          <li class="footer__menuItem">
            <a href="#" class="footer__menuLink">Portfolio Single</a>
          </li>
        </ul>
      </div>

      <div class="footer__topCol">
        <p class="footer__title">Utility Pages</p>

        <ul class="footer__menu list-reset">
          <li class="footer__menuItem">
            <a href="#" class="footer__menuLink">Style Guide </a>
          </li>
          <li class="footer__menuItem">
            <a href="#" class="footer__menuLink">Instruction</a>
          </li>
          <li class="footer__menuItem">
            <a href="#" class="footer__menuLink">License</a>
          </li>
          <li class="footer__menuItem">
            <a href="#" class="footer__menuLink">Changelog</a>
          </li>
          <li class="footer__menuItem">
            <a href="#" class="footer__menuLink">Error  404</a>
          </li>
          <li class="footer__menuItem">
            <a href="#" class="footer__menuLink">Password Protected </a>
          </li>
        </ul>
      </div>

      <div class="footer__topCol footer__topCol--form">
        <p class="footer__title">Subscribe</p>

        <form action="#" class="form footer__form">
          <div class="form__wrap">
            <input type="email" class="form__input input-reset" placeholder="Enter your email here" required>
            <button class="form__btn btn btn--dark btn-reset">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__bottomCol">
        <p class="footer__title footer__title--small">Copyright by</p>
        <p class="footer__info">Designed by
          <a href="#" class="footer__link">Iconstica.com</a>
        </p>
      </div>

      <div class="footer__bottomCol">
        <p class="footer__title footer__title--small">Contact Us</p>
        <a href="tel:+0124574578" class="footer__link">+0 12 457 4578</a>
      </div>

      <div class="footer__bottomCol">
        <p class="footer__title footer__title--small">Address</p>
        <p class="footer__info">119 Tanglewood Lane Gulfport, MS 39503</p>
      </div>

      <div class="footer__bottomCol">
        <ul class="socials list-reset">
          <li class="socials__item">
            <a href="#" class="socials__link">
              <svg class="socials__icon">
                <use xlink:href="img/sprite.svg#fb"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" class="socials__link">
              <svg class="socials__icon">
                <use xlink:href="img/sprite.svg#insta"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" class="socials__link">
              <svg class="socials__icon">
                <use xlink:href="img/sprite.svg#in"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
