<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a class="logo">
        <img src="img/logo.svg" alt="Logo" class="logo__img">
      </a>

      <ul class="menu header__menu list-reset">
        <li class="menu__item">
          <a href="#" class="menu__link">Home</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">About</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Contact Us</a>
        </li>
      </ul>

      <a href="#" class="btn btn-reset">Get in touch</a>
    </nav>
  </div>
</header>
