<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a class="logo header__logo" aria-label="To the main page">
        <img src="img/logo.svg" alt="Logo" class="logo__img">
      </a>

      <ul class="menu list-reset" data-menu>
        <li class="menu__item">
          <a href="#" class="menu__link">Home</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">About</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Contact Us</a>
        </li>
      </ul>

      <a href="#" class="btn btn-reset">Get in touch</a>

      <button class="burger header__burger" aria-label="Open a menu" aria-expanded="false"  data-burger>
        <span class="burger__line"></span>
      </button>
    </nav>
  </div>
</header>
