<section class="hero pageSection--dark">
  <div class="container">
    <div class="hero__content">
      <h1 class="pageSection__title pageSection__title--left hero__title">
        Ready to take your
        <span class="accent-color">Business Growth </span>
        to the next level?
      </h1>

      <p class="pageSection__desc hero__desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit- et ut massa libero egestas malesuada viverra gravida libero cursus nulla leo pulvinar.
      </p>

      <a href="#" class="btn btn--withIcon btn-reset">
        <span class="btn__circle">
          <svg class="btn__icon">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </span>
        Start your Free Trial
      </a>

      <div class="brands hero__brands">
        <p class="brands__title">Trusted by Leading Brands</p>

        <ul class="brands__list list-reset">
          <li class="brands__item">
            <img src="img/brand-1.svg" alt="Greenish" class="brands__img">
          </li>
          <li class="brands__item">
            <img src="img/brand-2.svg" alt="Automation" class="brands__img">
          </li>
          <li class="brands__item">
            <img src="img/brand-3.svg" alt="Leafe" class="brands__img">
          </li>
          <li class="brands__item">
            <img src="img/brand-4.svg" alt="Mindfullness" class="brands__img">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
