<section class="services pageSection">
  <div class="container">
    <h2 class="pageSection__title">
      <span class="pageSection__small">Our Services</span>
      High-impact services
      for your business
    </h2>

    <ul class="services__list list-reset">
      <li class="services__item">
        <span class="services__img">
          <svg class="services__icon">
            <use xlink:href="img/sprite.svg#services-1"></use>
          </svg>
        </span>

        <div class="services__content">
          <h3 class="services__title">Content Marketing</h3>
          <p class="services__text">Our team creates engaging and shareable content that resonates with your audience, drives organic traffic</p>
        </div>
      </li>

      <li class="services__item">
        <span class="services__img">
          <svg class="services__icon">
            <use xlink:href="img/sprite.svg#services-2"></use>
          </svg>
        </span>

        <div class="services__content">
          <h3 class="services__title">Graphic Design </h3>
          <p class="services__text">Unlock the power of visual storytelling with our expert graphic design services tailored to elevate your brand and captivate.</p>
        </div>
      </li>

      <li class="services__item">
        <span class="services__img">
          <svg class="services__icon">
            <use xlink:href="img/sprite.svg#services-3"></use>
          </svg>
        </span>

        <div class="services__content">
          <h3 class="services__title">Digital Marketing</h3>
          <p class="services__text">Elevate your brand's online presence with our data-driven digital marketing strategies. From SEO and content marketing</p>
        </div>
      </li>

      <li class="services__item">
        <span class="services__img">
          <svg class="services__icon">
            <use xlink:href="img/sprite.svg#services-4"></use>
          </svg>
        </span>

        <div class="services__content">
          <h3 class="services__title">Web Design</h3>
          <p class="services__text">We specialize in creating visually stunning, user-friendly websites that align with your brand identity and deliver an exceptional.</p>
        </div>
      </li>

      <li class="services__item">
        <span class="services__img">
          <svg class="services__icon">
            <use xlink:href="img/sprite.svg#services-5"></use>
          </svg>
        </span>

        <div class="services__content">
          <h3 class="services__title">IT Consulting</h3>
          <p class="services__text">IT consulting, or information technology consulting, refers to the practice of providing advisory and implementation services</p>
        </div>
      </li>

      <li class="services__item">
        <span class="services__img">
          <svg class="services__icon">
            <use xlink:href="img/sprite.svg#services-6"></use>
          </svg>
        </span>

        <div class="services__content">
          <h3 class="services__title">Brand Identity</h3>
          <p class="services__text">It involves creating a unique and recognizable identity that sets the brand apart from competitors and resonates with the target audience.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
