<section class="showcases pageSection">
  <div class="container">
    <h2 class="pageSection__title">Recent Showcase</h2>

    <div class="showcases__wrap">
      <div class="showcases__btns">
        <a href="#" class="btn btn--withIcon btn-reset">
          <span class="btn__circle">
            <svg class="btn__icon">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </span>
          Start your Free Trial
        </a>
      </div>

      <ul class="showcases__list list-reset">
        <li class="showcases__item">
          <a href="#" class="showcases__imgLink">
            <picture>
              <source srcset="img/case-1@2x.webp 2x, img/case-1.webp 1x" type="image/webp">
              <source srcset="img/case-1@2x.jpg 2x, img/case-1.jpg 1x" type="image/jpeg">
              <img loading="lazy" src="case-1.jpg" class="showcases__img" width="663" height="450" alt="A red flower">
            </picture>
          </a>

          <a href="#" class="showcases__link">Web UI design</a>
          <span class="showcases__text">Creative  UI design</span>
        </li>

        <li class="showcases__item">
          <a href="#" class="showcases__imgLink">
            <picture>
              <source srcset="img/case-2@2x.webp 2x, img/case-2.webp 1x" type="image/webp">
              <source srcset="img/case-2@2x.jpg 2x, img/case-2.jpg 1x" type="image/jpeg">
              <img loading="lazy" src="case-2.jpg" class="showcases__img" width="663" height="450" alt="A man in the space">
            </picture>
          </a>

          <a href="#" class="showcases__link">To design Digital Strategy</a>
          <span class="showcases__text">Social Media Marketing</span>
        </li>

        <li class="showcases__item">
          <a href="#" class="showcases__imgLink">
            <picture>
              <source srcset="img/case-3@2x.webp 2x, img/case-3.webp 1x" type="image/webp">
              <source srcset="img/case-3@2x.jpg 2x, img/case-3.jpg 1x" type="image/jpeg">
              <img loading="lazy" src="case-3.jpg" class="showcases__img" width="663" height="450" alt="A belt with flowers">
            </picture>
          </a>

          <a href="#" class="showcases__link">UI Design</a>
          <span class="showcases__text">Creative Rebranding for logo</span>
        </li>

        <li class="showcases__item">
          <a href="#" class="showcases__imgLink">
            <picture>
              <source srcset="img/case-4@2x.webp 2x, img/case-4.webp 1x" type="image/webp">
              <source srcset="img/case-4@2x.jpg 2x, img/case-4.jpg 1x" type="image/jpeg">
              <img loading="lazy" src="case-4.jpg" class="showcases__img" width="663" height="450" alt="A girl with a backpack">
            </picture>
          </a>

          <a href="#" class="showcases__link">UI Design</a>
          <span class="showcases__text">Creative Rebranding for logo</span>
        </li>
      </ul>
    </div>
  </div>
</section>
